@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/hinted-ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/hinted-ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-ProximaNova-Light.woff2") format("woff2"), url("../fonts/hinted-ProximaNova-Light.woff") format("woff"), url("../fonts/hinted-ProximaNova-Light.ttf") format("truetype"), url("../fonts/hinted-ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/hinted-ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/hinted-ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/hinted-ProximaNova-Semibold.woff") format("woff"), url("../fonts/hinted-ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/hinted-ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/hinted-ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/hinted-ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/hinted-ProximaNova-Bold.woff") format("woff"), url("../fonts/hinted-ProximaNova-Bold.ttf") format("truetype"), url("../fonts/hinted-ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/hinted-ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/hinted-ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-ProximaNova-Regular.woff2") format("woff2"), url("../fonts/hinted-ProximaNova-Regular.woff") format("woff"), url("../fonts/hinted-ProximaNova-Regular.ttf") format("truetype"), url("../fonts/hinted-ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.main {
  background-color: #000000;
  background-image: url("../Images/main/main-bg.png");
  background-repeat: no-repeat;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main .header {
  background-color: #fff;
}

.main .header .container {
  padding: 11px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header-nav__item {
  margin-right: 30px;
}

.main .header-nav__item:last-child {
  margin-right: 0;
}

.main .header-nav__item a {
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .header-nav__item:hover > a {
  color: #f48f42;
}

.main .header-nav__item::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  margin-top: -2px;
  background-color: #acacac;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main .header-contacts {
  color: #1f1f1f;
  font-family: "Proxima Nova Regular";
  font-size: 17px;
  font-weight: 700;
  text-align: right;
}

.main .header-contacts__callback {
  font-size: 14px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main .header-contacts__callback a {
  color: #22bac1;
  text-decoration: none;
}

.main .header-contacts__callback::after {
  content: '';
  width: 100%;
  height: 2px;
  margin-top: -2px;
  display: block;
  background-color: #22bac1;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main .header-contacts__callback:hover a {
  color: #13666a;
}

.main .header-contacts__callback:hover::after {
  width: 80%;
  background-color: #13666a;
}

.main .header-menu {
  display: none;
}

.main-description {
  margin-bottom: 0px;
  max-height: 429px;
}

.main-headline {
  color: #fffafa;
  font-family: "Proxima Nova Regular";
}

.main-headline__title {
  margin-bottom: 28px;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.main-headline__subtitle {
  margin-bottom: 58px;
  font-size: 20px;
  font-weight: 300;
}

.main-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Proxima Nova Regular";
  font-size: 15px;
  font-weight: 300;
}

.main-list__item:last-child {
  margin-bottom: 0;
}

.main-list__item-image {
  margin-right: 25px;
}

.main-list__item-image-first {
  padding: 8px 12px;
  color: #ffffff;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  font-weight: 300;
  border-radius: 50%;
  border: 1px solid #333333;
}

.main-list__item-image-second {
  padding: 8px 12px;
  color: #ffffff;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  font-weight: 300;
  border-radius: 50%;
  border: 1px solid #333333;
  padding: 8px;
}

.main-list__item-image-third {
  height: 35px;
  width: 35px;
  padding: 8px 12px;
  color: #ffffff;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  font-weight: 300;
  border-radius: 50%;
  border: 1px solid #333333;
  background: url("../Images/main/reload.png") no-repeat center;
}

.main-list__item-image-fourth {
  height: 35px;
  width: 35px;
  padding: 8px 12px;
  color: #ffffff;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  font-weight: 300;
  border-radius: 50%;
  border: 1px solid #333333;
  background: url("../Images/main/map-location.png") no-repeat center;
}

.main-form {
  max-width: 370px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 40px 55px;
}

.main-form__wrap {
  width: 260px;
}

.main-form__title {
  max-width: 235px;
  margin: 0 auto;
  margin-bottom: 28px;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.main-form form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main-form form input {
  text-align: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  padding: 15px;
  max-width: 260px;
  width: 100%;
  margin-bottom: 15px;
  color: #7c7c7c;
  font-family: "Proxima Nova Regular";
  font-size: 13px;
  font-weight: 300;
}

.main-form form button {
  margin-top: 10px;
  padding: 20px;
  color: #ffffff;
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  font-weight: 400;
  background-color: #23bac1;
  border: 1px solid #23bac1;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-form form button:hover {
  color: #4d4d4d;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

.main-form form button:focus {
  -webkit-box-shadow: inset 0 0 25px 2px #cccccc;
          box-shadow: inset 0 0 25px 2px #cccccc;
}

.layout .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  padding-top: 101px;
  padding-bottom: 32px;
}

.layout-headline {
  text-align: center;
  color: #000000;
  font-family: "Proxima Nova Regular";
}

.layout-headline__title {
  font-size: 36px;
  font-weight: 400;
}

.layout-headline__title::after {
  content: '';
  display: block;
  width: 31px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 38px;
  background-color: #23bac1;
}

.layout-headline__subtitle {
  margin-bottom: 75px;
  font-size: 20px;
  font-weight: 300;
}

.layout-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.layout-blocks__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 33px 35px;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  max-height: 680px;
}

.layout-blocks__block-title {
  margin-bottom: 24px;
  text-align: center;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 20px;
  font-weight: 400;
}

.layout-blocks__block-image {
  margin-bottom: 0px;
}

.layout-blocks__block-image img {
  width: 300px;
  max-height: 220px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.layout-blocks__block:hover {
  -webkit-box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
}

.layout-blocks__block:hover > .layout-blocks__block-image > img {
  -webkit-filter: none;
          filter: none;
}

.layout-blocks__block-description {
  text-align: center;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
}

.layout-blocks__block-description::after {
  content: '';
  margin: -2px auto;
  display: block;
  width: 9px;
  min-height: 2px;
  background-color: #23bac1;
}

.layout-blocks__block-description-last {
  margin-bottom: 31px;
}

.layout-blocks__block-description-last::after {
  display: none;
}

.layout-blocks__block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout-blocks__block-button button {
  width: 230px;
  padding: 23px;
  border: 1px solid #aeaeae;
  background-color: #ffffff;
  color: #000000;
  color-family: "Proxima Nova Semibold";
  color-size: 13px;
  color-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.layout-blocks__block-button button:hover {
  color: #ffffff;
  background-color: #23bac1;
  border: 1px solid #23bac1;
}

.layout-blocks__block-button button:focus {
  -webkit-box-shadow: inset 0 0 25px 2px #ffffff;
          box-shadow: inset 0 0 25px 2px #ffffff;
}

#second {
  margin-bottom: 70px;
}

#s-second {
  margin-bottom: 70px;
}

#sixth {
  margin-bottom: 100px;
}

.projects .container {
  padding: 97px 0;
}

.projects-title {
  text-align: center;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 36px;
  font-weight: 400;
}

.projects-title::after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 34px;
  width: 31px;
  height: 2px;
  background-color: #23bac1;
}

.projects-subtitle {
  margin-bottom: 99px;
  text-align: center;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 20px;
  font-weight: 300;
}

.projects-slider {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.projects-slider__image img {
  width: 90%;
}

.projects-slider__image:focus {
  outline: none;
  border: none;
}

.projects-slider__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.projects-slider__text:focus {
  outline: none;
  border: none;
}

.projects-slider__text-title {
  margin-bottom: 60px;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 24px;
  font-weight: 400;
}

.projects-slider__text-description {
  margin-bottom: 60px;
}

.projects-slider__text-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
}

.projects-slider__text .light {
  color: #7f7f7f;
  font-family: "Proxima Nova Regular";
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.projects-slider__text .bold {
  margin-top: 12px;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.projects-slider__text-button button {
  margin-top: 33px;
  width: 216px;
  height: 60px;
  padding: 15px;
  background-color: #23bac1;
  color: #ffffff;
  font-family: "Proxima Nova Semibold";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.projects-slider__text-button button:hover {
  color: #4d4d4d;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

.projects-slider__text-button button:focus {
  -webkit-box-shadow: inset 0 0 25px 2px #cccccc;
          box-shadow: inset 0 0 25px 2px #cccccc;
}

.arrow {
  cursor: pointer;
  width: 14px;
  height: 26px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.arrow-right {
  background-image: url("../Images/slider/next-arrow.png");
  top: 45%;
  bottom: 45%;
  left: 100%;
  margin-left: 100px;
}

.arrow-left {
  background-image: url("../Images/slider/prev-arrow.png");
  top: 45%;
  bottom: 45%;
  left: -120px;
  margin-right: 100px;
}

.plan {
  background-color: #000000;
  background-image: url("../Images/plan/_MG_9130.png");
  background-repeat: no-repeat;
}

.plan .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 108px;
  padding-bottom: 145px;
}

.plan-title {
  margin-bottom: 99px;
  text-align: center;
  color: #ffffff;
  font-family: "Proxima Nova Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}

.plan-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.plan-item {
  margin-bottom: 87px;
  width: 25%;
  text-align: center;
}

.plan-item:nth-of-type(n+5) {
  margin-bottom: -60px;
}

.plan-item__image {
  min-height: 51px;
}

.plan-item__legend {
  margin-top: 41px;
  color: #ffffff;
  font-family: "Proxima Nova Regular";
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.clients .container {
  padding-top: 100px;
  padding-bottom: 177px;
}

.clients-title {
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}

.clients-slider {
  max-width: 964px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clients-slider__item {
  max-width: 170px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
  margin-left: 15px;
  vertical-align: middle;
  min-height: 68px;
}

.clients-slider__item:focus {
  outline: none;
  border: none;
}

.clients-slider__item-small {
  padding-top: 15px;
}

.second-arrow {
  cursor: pointer;
  width: 68px;
  height: 26px;
}

.second-arrow__right {
  margin-left: 91px;
  background-image: url("../Images/slider/next-arrow.png");
}

.second-arrow__left {
  margin-right: 91px;
  background-image: url("../Images/slider/prev-arrow.png");
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 99;
  display: none;
}

.modal-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-wrap {
  margin: auto;
  margin-top: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form {
  max-width: 370px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 40px 55px;
  position: relative;
}

.modal-form__wrap {
  width: 260px;
}

.modal-form__title {
  max-width: 235px;
  margin: 0 auto;
  margin-bottom: 28px;
  color: #000000;
  font-family: "Proxima Nova Regular";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.modal-form__close {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-form form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.modal-form form input {
  text-align: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  padding: 15px;
  max-width: 260px;
  width: 100%;
  margin-bottom: 15px;
  color: #7c7c7c;
  font-family: "Proxima Nova Regular";
  font-size: 13px;
  font-weight: 300;
}

.modal-form form button {
  margin-top: 10px;
  padding: 20px;
  color: #ffffff;
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  font-weight: 400;
  background-color: #23bac1;
  border: 1px solid #23bac1;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-form form button:hover {
  color: #4d4d4d;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

.modal-form form button:focus {
  -webkit-box-shadow: inset 0 0 25px 2px #cccccc;
          box-shadow: inset 0 0 25px 2px #cccccc;
}

.thanks {
  position: fixed;
  top: 0;
  left: 35%;
  right: 35%;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 99;
  border: 2px solid #333333;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.thanks-hidden {
  display: none;
}

.thanks h1 {
  font-family: "Proxima Nova Regular";
  font-size: 20px;
}

.thanks img {
  width: 35px;
  height: 35px;
}

.thanks-close {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
}

.thanks-close img {
  width: 16px;
  height: 16px;
}

.footer {
  background-color: #191919;
}

.footer-container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 59px 0;
}

.footer-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  font-family: "Proxima Nova Regular";
  font-size: 13px;
  font-weight: 300;
}

.footer-adress__image {
  margin-right: 19px;
}

.footer-contacts {
  color: #1f1f1f;
  font-family: "Proxima Nova Regular";
  font-size: 17px;
  font-weight: 700;
  text-align: right;
}

.footer-contacts__phone {
  color: #ffffff;
}

.footer-contacts__callback {
  font-size: 14px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-contacts__callback a {
  color: #22bac1;
  text-decoration: none;
}

.footer-contacts__callback::after {
  content: '';
  width: 100%;
  height: 2px;
  margin-top: -2px;
  display: block;
  background-color: #22bac1;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-contacts__callback:hover a {
  color: #13666a;
}

.footer-contacts__callback:hover::after {
  width: 80%;
  background-color: #13666a;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

button {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
}

button:focus {
  outline: none;
}

.google-map iframe {
  width: 100%;
  height: 416px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .main .header .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .header-nav {
    margin-left: 10px;
  }
  .main .header-nav__item {
    margin-right: 10px;
  }
  .main .header-menu {
    display: none;
  }
  .layout .container {
    padding-top: 60px;
  }
  .clients-slider {
    max-width: 768px;
  }
  .footer-container {
    max-width: 992px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-between;
  }
  .second-arroww {
    width: 90px;
    height: 26px;
  }
  .second-arroww__next {
    margin-left: 20px;
    background-image: url("../Images/slider/next-arrow.png");
  }
  .second-arroww__prev {
    margin-right: 20px;
    background-image: url("../Images/slider/prev-arrow.png");
  }
  .projects-slider__text-title {
    margin-bottom: 40px;
  }
  .projects-slider__text-description {
    margin-bottom: 20px;
  }
  .projects-slider__text-button button {
    margin-top: 20px;
  }
  .arro0w {
    width: 14px;
    height: 26px;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  .arro0w-right {
    background-image: url("../Images/slider/next-arrow.png");
    top: 45%;
    bottom: 45%;
    left: 100%;
    margin-left: 25px;
  }
  .arro0w-left {
    background-image: url("../Images/slider/prev-arrow.png");
    top: 45%;
    bottom: 45%;
    left: -40px;
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .main .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 0;
  }
  .main-description {
    margin-bottom: 60px;
  }
  .main-headline__title {
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 40px;
  }
  .main-headline__subtitle {
    margin-bottom: 35px;
    font-size: 18px;
  }
  .main .header .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .header-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .header-contacts {
    text-align: center;
  }
  .main .header-contacts__callback::after {
    display: none;
  }
  .main-form form input {
    padding: 10px;
  }
  .main-form form button {
    padding: 15px;
  }
  .layout-blocks__block-image img {
    -webkit-filter: none;
            filter: none;
  }
  .layout-blocks__block-image:hover {
    -webkit-filter: none;
            filter: none;
  }
  .projects-slider {
    width: 85%;
  }
  .projects-slider__image {
    margin: 0 auto;
    width: 100%;
  }
  .projects-slider__text-title {
    margin-bottom: 10px;
  }
  .projects-slider__text .bold {
    margin-top: 5px;
  }
  .projects-slider__text-description {
    margin-bottom: 25px;
  }
  .plan .container {
    padding-top: 40px;
  }
  .plan-title {
    margin-bottom: 50px;
  }
  .plan-item {
    margin-bottom: 50px;
  }
  .footer-container {
    max-width: 768px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .second-arrowww {
    width: 100px;
    height: 26px;
  }
  .second-arrowww__next {
    margin-left: 20px;
    background-image: url("../Images/slider/next-arrow.png");
  }
  .second-arrowww__prev {
    margin-right: 20px;
    background-image: url("../Images/slider/prev-arrow.png");
  }
  .second-arrowww .footer {
    background-color: #ffffff;
  }
  .second-arrowww .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 838px) {
  .main .header-nav__item a {
    font-size: 12px;
  }
  .main .header-contacts__phone {
    font-size: 15px;
  }
  .main .header-contacts__callback a {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .main .header {
    background-color: transparent;
  }
  .main .header .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main .header-nav {
    display: none;
  }
  .main .header-contacts__phone {
    color: #ffffff;
  }
  .main .header-menu {
    display: block;
    position: relative;
  }
  .main .header-menu h1 {
    color: #ffffff;
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    font-weight: 400;
  }
  .main .header-menu__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .header-menu__nav {
    display: none;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 0;
    border: 2px solid black;
    background-color: #333333;
  }
  .main .header-menu .menu-visible {
    display: block;
  }
  .main .header-menu .menu-visible a {
    display: block;
    padding: 4px;
    color: #fff;
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid black;
  }
  .main .header-menu .menu-visible a:hover {
    background-color: #999999;
  }
  .main .header-menu__burger {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    max-height: 16px;
    margin-right: 15px;
    cursor: pointer;
  }
  .main .header-menu__burger-line {
    margin-top: 2px;
    display: block;
    width: 17px;
    height: 2px;
    background-color: #fff;
  }
  .main .header-menu__burger .first {
    margin-bottom: 2px;
  }
  .main .header-menu__burger .third {
    margin-top: 4px;
  }
  .main .container {
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding-top: 20px;
  }
  .main-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
  }
  .main-headline__title {
    font-size: 25px;
  }
  .main-form {
    min-width: 100%;
    background-color: #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  }
  .main-form form input {
    min-width: 90%;
    padding: 20px;
  }
  .main-form form button {
    padding: 25px;
  }
  .projects .container {
    padding: 0;
    padding-bottom: 20px;
  }
  .projects-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .projects-title::after {
    margin-bottom: 20px;
  }
  .projects-subtitle {
    margin-bottom: 25px;
  }
  .plan {
    padding-top: 40px;
    padding-bottom: 0px;
    background-image: none;
    background-color: #0d0d0d;
    min-height: 100vh;
  }
  .plan-title {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .plan-items {
    margin-bottom: -120px;
  }
  .plan-item {
    margin-bottom: 60px;
    width: 50%;
  }
  .plan-item:nth-of-type(n+5) {
    margin-bottom: 40px;
  }
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients .container {
    padding: 50px 0;
  }
  .clients-title {
    margin-bottom: 40px;
  }
  .clients-slider {
    max-width: 476px;
    margin: 0 auto;
    margin-left: 15px;
  }
  .clients-slider__item {
    margin-right: 10px;
    margin-left: 10px;
  }
  .second-arrowwww {
    width: 160px;
    height: 26px;
  }
  .second-arrowwww__next {
    margin-left: 20px;
    background-image: url("../Images/slider/next-arrow.png");
  }
  .second-arrowwww__prev {
    margin-right: 20px;
    background-image: url("../Images/slider/prev-arrow.png");
  }
  .modal-form {
    width: 90%;
    background-color: white;
  }
  .projects {
    width: 100%;
  }
  .projects .container {
    max-width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    align-items: center;
  }
  .projects-title {
    max-width: 85%;
  }
  .projects-slider {
    width: 80%;
    margin: 0 auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-slider__image img {
    width: 100%;
  }
  .projects-slider__text-title {
    margin-bottom: 25px;
  }
  .projects-slider__text-description {
    margin-bottom: 40px;
  }
  .projects-slider__text-wrap {
    margin-bottom: 50px;
  }
  .arro00ww {
    width: 14px;
    height: 26px;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  .arro00ww-right {
    background-image: url("../Images/slider/next-arrow.png");
    top: 45%;
    bottom: 45%;
    left: 105%;
  }
  .arro00ww-left {
    background-image: url("../Images/slider/prev-arrow.png");
    top: 45%;
    bottom: 45%;
    left: -40px;
    margin-right: 20px;
  }
}

@media (max-width: 576px) {
  body {
    min-width: 100%;
  }
  .container {
    max-width: 320px;
  }
  .main {
    min-width: 100%;
    background-size: cover;
  }
  .main-description {
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .main-headline {
    text-align: center;
  }
  .main-form {
    max-width: 80%;
  }
  .main-form form {
    margin: 0 auto;
  }
  .main-form form input {
    max-width: 100%;
  }
  .layout-headline__title {
    font-size: 30px;
  }
  .layout-headline__subtitle {
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 80%;
  }
  .projects {
    width: 100%;
  }
  .projects-title {
    font-size: 25px;
  }
  .projects-subtitle {
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
    max-width: 80%;
  }
  .projects-slider {
    width: 90%;
  }
  .projects-slider__image {
    width: 80%;
  }
  .projects-slider__text-title {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .projects-slider__text-description {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .projects-slider__text-button button {
    margin-top: 2px;
    padding: 6px;
  }
  .projects-slider__text .light {
    margin-bottom: 8px;
  }
  .plan {
    min-width: 100%;
  }
  .plan-title {
    max-width: 80%;
    font-size: 18px;
  }
  .plan-items {
    max-width: 80%;
  }
  .plan-item {
    width: 100%;
  }
  .second-arrowwwww {
    width: 160px;
    height: 13px;
  }
  .second-arrowwwww__next {
    margin-left: 20px;
    background-image: url("../Images/slider/right-arrow.svg");
  }
  .second-arrowwwww__prev {
    margin-right: 20px;
    background-image: url("../Images/slider/left-arrow.svg");
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }
  .footer-adress {
    margin-bottom: 15px;
  }
  .arro00w {
    width: 14px;
    height: 26px;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  .arro00w-right {
    background-image: url("../Images/slider/right-arrow.svg");
    background-repeat: no-repeat;
    top: 45%;
    bottom: 45%;
    left: 100%;
    margin-left: 5px;
  }
  .arro00w-left {
    background-image: url("../Images/slider/left-arrow.svg");
    background-repeat: no-repeat;
    top: 45%;
    bottom: 45%;
    left: -20px;
    margin-right: 5px;
  }
  .modal-wrap {
    max-width: 85%;
  }
  .modal-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-form__title {
    max-width: 200px;
    font-size: 15px;
  }
  .modal-form__close {
    right: 15px;
  }
  .modal-form form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-form form input {
    width: 90%;
    padding: 8px;
  }
  .modal-form form button {
    width: 90%;
    padding: 12px;
  }
}
/*# sourceMappingURL=main.css.map */