.projects
  &-headline
    text-align: center
    &__title
      color: $black
      font:
        family: $pnr
        size: 36px
        weight: 400
      &::after
        content: ''
        display: block
        margin: 0 auto
        margin-top: 28px
        margin-bottom: 40px
        width: 31px
        height: 2px
        background-color: $hover-button