@import '_fonts.scss'
@import '_mixins.sass'
@import '_var.sass'
@import '_main.sass'
@import '_layout.sass'
@import '_projects.sass'
@import '_plan.sass'


*,*::after,*::before
  box-sizing: border-box
.container
  max-width: 1170px 
  margin: 0 auto

button
  outline: none
  border: none
  &:hover
    outline: none
  &:focus
    outline: none


@import '_media.sass'